<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body style="background: linear-gradient(90deg, #60EFFF 10%, #0061FF 90%);">
    <nav style="width: 100%;">
        <ul>
            <li style="display: inline-block; margin-left: 250px; font-size: 25px;"><a href="{% url 'home' %}" style="color: white;">Home</a></li>
            <li style="display: inline-block; margin-left: 250px; font-size: 25px;"><a href="{% url 'product' %}" style="color: white;">Software-Products</a></li>
            <li style="display: inline-block; margin-left: 250px; font-size: 25px;"><a href="{% url 'about' %}" style="color: white;">About Us</a></li>
            <li style="display: inline-block; margin-left: 250px; font-size: 25px;"><a href="{% url 'contact' %}" style="color: white;">Contact Us</a></li>
        </ul>
    </nav>
    <h1 style="text-align: center;">About Us</h1>
    <hr />
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vel magnam nostrum
        aperiam impedit nobis quas, vitae asperiores tempore quam soluta error aut hic quisquam
        ex ratione iste tempora sed?
    </p>
</body>
</html>